<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{% block title %}{% endblock %}</title>
 	<!-- System Global CSS -->
    <link rel="stylesheet" href="/static/styles/global.css" type="text/css" />
</head>
<body class="test">
	<h1>My chartRobot site</h1>
	<script type="text/javascript" src="/static/scripts/jquery-1.7.2.min.js"></script>
	{% block content %}{% endblock %}
	
	{% block footer%}
		<hr>
		<p>Thanks for visiting my site.</p>
	{% endblock %}
</body>
</html>